.bg-mymembership{
    background-image: linear-gradient(166deg,  #942dd9,#f22876);
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



.containerMyMembership {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
}

.containerMyMembership form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.containerMyMembership form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.containerMyMembership form .row .col {
    flex: 1 1 250px;
}

.containerMyMembership form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.containerMyMembership form .row .col .inputBox {
    margin: 15px 0;
}

.containerMyMembership form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.containerMyMembership form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.containerMyMembership form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.containerMyMembership form .row .col .flex {
    display: flex;
    gap: 15px;
}

.containerMyMembership form .row .col .flex .inputBox {
    margin-top: 5px;
}

.containerMyMembership form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.containerMyMembership form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.containerMyMembership form .submit-btn:hover {
    background: #2ecc71;
}