.card-container {
    width: 250px;
    border-radius: 5px;
}

.card-img-container {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.border-bottom {
    width: 20px;
    border-bottom: 2px solid orangered;
}