.People-Joined-Alreadyon {
    padding: 90px 0px 135px;
    background-image: url("../images/People\-joined-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}