.top-profile-button a {
    background: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
    background: #ffffff;
    box-shadow: inset 0px 6px 25px 2px #d9d9d982, inset -20px -20px 60px #ffffff63;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    transition: 0.3s;
    display: flex;
    width: 334px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.top-profile-button-mov a {
    background: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
    background: #ffffff;
    box-shadow: inset 0px 6px 25px 2px #d9d9d982, inset -20px -20px 60px #ffffff63;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    outline: none;
    transition: 0.3s;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.top-profile-button .active {
    background: linear-gradient(155deg, #e41242, #4844a5) !important;
    box-shadow: none !important;
    color: #fff;
}
.top-profile-button-mov .active {
    background: linear-gradient(155deg, #e41242, #4844a5) !important;
    box-shadow: none !important;
    color: #fff;
}
.find-partner-button .active {
    background: linear-gradient(155deg, #e41242 0%, #4844a5 100%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.Suggested-card {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Suggested-card:hover .Suggested-info__cardUp {
    top: 40px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Suggested-info__cardUp {
    background-image: url("../images/TopProfile/Vector-1.9404edcdbad9fde28712.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Suggested-info__cardImg {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px #e9ecef;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Suggested-info__cardUp ul {
    padding: 10px 30px;
    color: white;
    text-align: start;
}

.Suggested-info__cardUp ul li {
    padding: 2px 0px;
}

.Suggested-info__cardUp ul li p {
    margin: 0;
    font-weight: 100;
    font-size: 16px;
}

.Suggested-info__cardUp ul li p span {
    font-weight: 600;
    margin-right: 5px;
}

.Suggested-info__cardUp .info__social {
    padding: 0px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Suggested-info__cardUp .info__social a {
    color: white;
}

.Suggested-info__cardUp .info__social i {
    background: linear-gradient(145deg, rgba(81, 27, 231, 1) 0%, rgba(228, 18, 114, 1) 100%);
    width: 40px;
    height: 40px;
    line-height: 2.2;
    border-radius: 50%;
    border: 2px solid #ff337c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-profile-btn {
    font-weight: 700;
    font-size: 12px;
}
