



.user9 {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: right;
}


/* sidebar */

.sidebar9 {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background-image: linear-gradient(166deg, #f22876, #942dd9);
    font-weight: bolder;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar9 ul {
    margin-top: 20px;
}

.sidebar9 ul li {
    width: 100%;
    list-style: none;
}

.sidebar9 ul li:hover {
    background: #fff;
}

.sidebar9 ul li:hover a {
    color: #299B63;
}

.sidebar9 ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar9 ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

.main9 {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

.cards9 {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards9 .card9 {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.number9 {
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name9 {
    color: #888;
    font-weight: 600;
}

.icon-box9 i {
    font-size: 45px;
    color: #299b63;
}







